* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "plain light";
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

#cursor {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 50%;
  border: 1px solid #ffffffa8;
  position: fixed;
  z-index: 997;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
}

#loader {
  width: 100%;
  height: 100%;
  background-color: #030303;
  position: fixed;
  z-index: 999;
  padding: 18vh 10vw;
  /* overflow-y: hidden; */
}

.line {
  /* background-color: red; */
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5vw;
}

#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

#line1-part1 h5,
#line1-part1 h6 {
  font-size: 3vw;
  font-weight: 200;
  font-family: "silk serif";
}

#line1-part1 h5 {
  /* background-color: red; */
  width: 5.5vw;
  text-align: right;
}

.line h1 {
  font-size: 6.5vw;
  font-weight: 800;
  text-transform: uppercase;
}

.line h2 {
  font-size: 5vw;
  font-weight: 800;
  opacity: 0;
  text-transform: uppercase;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
}

@keyframes h2text {
  0% {
    font-family: "plain light";
    font-weight: 500;
    opacity: 1;
    color: #fff;
    -webkit-text-stroke: 0.8px #fff;
  }

  45% {
    font-family: "plain light";
    font-weight: 500;
    opacity: 0;
    color: #fff;
    -webkit-text-stroke: 0.8px #fff;
  }

  50% {
    font-family: "silk serif";
    font-weight: 600;
    opacity: 1;
    color: transparent;
    -webkit-text-stroke: 0.8px #fff;
  }

  100% {
    font-family: "silk serif";
    font-weight: 600;
    opacity: 0;
    color: transparent;
    -webkit-text-stroke: 0.8px #fff;
  }
}

#main {
  position: relative;
  background-color: #030303;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}

#page1 #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 6.5vw;
  position: relative;
}

#page1 #svg-container {
  display: flex;
  align-items: center;
  gap: 2.5vw;
}

#nav h3 {
  /* background-color: red; */
  width: 5vw;
  font-size: 1vw;
  font-weight: 500;
  margin-left: -30vw;
  position: relative;
  top: 1.5vw;
  line-height: 1;
}

#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

#nav-part2 h4 {
  font-size: 1vw;
  font-weight: 500;
}

.hero {
  /* background-color: red; */
  width: 71%;
  margin-left: 29%;
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 998;
}

.hero:nth-child(2) {
  margin-top: 18vh;
}

.hero h1 {
  font-size: 7vw;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.05;
  letter-spacing: 0.5vh;
}

.hero h2 {
  font-size: 7vw;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.05;
  letter-spacing: 0.5vh;
}

.hero h2:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  font-weight: 500;
}
